.product-card{

    border-style: solid;
    border-color: lightblue;
    margin: 5px;
    text-align: center;
    width: 50%;
}

.product-card:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)

}

.flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}